---
import Layout from '../layouts/main.astro';
---

<Layout title="Welcome to Astro.">
	<main>
		<h1>Cookie Consent and Astro PoC</h1>
	</main>
</Layout>

<script>
  import { reset, run } from 'vanilla-cookieconsent';
	import { config } from '../components/CookieConsentConfig';

	const resetBtn = document.getElementById("reset-btn");
	const toggleThemeBtb = document.getElementById("toggle-theme-btn");

	resetBtn?.addEventListener('click', () => {
		reset(true);
		run(config);
	});

	toggleThemeBtb?.addEventListener('click', () => {
		document.body.classList.toggle('cc--elegant-black');
	});
</script>